<section class="focus">
  <div class="focus__inner container">
    <div class="focus-content">
      <h3>Stay focused on saving money</h3>
      <p>
        It is important to stay focused on saving money in any way you can. We
        help you monitor your spending habits so you can easily spot and cut any
        unnecessary expenses. Simply join today to get started!
      </p>
      <div class="focus-content__ico">
        <picture
          ><img src="images/play_market.svg" alt="play market"
        /></picture>
        <picture><img src="images/appstore.svg" alt="app store" /></picture>
        <picture
          ><img src="images/msstore.svg" alt="microsoft store"
        /></picture>
      </div>
    </div>
    <div class="swiper slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="slide" src="images/slider-1.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="slide" src="images/slider-2.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="slide" src="images/slider-3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
