<section class="contact container">
  <div class="contact__intro">
    <h2 class="subtitle">Contact</h2>
    <p>
      Questions or concerns? Just fill out the form below and our support team
      will get back to you within 24 hours
    </p>
  </div>
  <div class="contact__form">
    <form>
      <input type="text" placeholder="First Name" id="firstname" />
      <input type="text" placeholder="Last Name" id="secondname" /><br />
      <input type="text" placeholder="Phone Number" id="phone" /><br />
      <select placeholder="Select Service" id="select">
        <option value="Select Service">Select Service</option>
        <option value="Service-1">Service-1</option>
        <option value="Service-2">Service-2</option>
        <option value="Service-3">Service-3</option>
      </select>
      <br />
      <button>Submit Now</button>
    </form>
  </div>
</section>
