<section class="features">
  <h2>Features</h2>
  <div class="features__inner container">
    <div class="feature-block">
      <img src="../images/features_1.avif" alt="features-img-card" />
      <div class="feature-block__inner">
        <h3>Supports All Currencies and Cards</h3>
        <p>
          We support all popular currencies and is fully customizable to add
        </p>
        <a class="link feature__link" href="#">Read More</a>
      </div>
    </div>
    <div class="feature-block">
      <img src="../images/features_3.avif" alt="features-img-card" />
      <div class="feature-block__inner">
        <h3>Manage your expenses on the go</h3>
        <p>
          You can access your account from anywhere in the world on any device
        </p>
        <a class="link feature__link" href="#">Read More</a>
      </div>
    </div>
    <div class="feature-block">
      <img src="../images/features_2.avif" alt="features-img-card" />
      <div class="feature-block__inner">
        <h3>Cloud Budget Management Software</h3>
        <p>Our software is made so you can access and manage your budget</p>
        <a class="link feature__link" href="#">Read More</a>
      </div>
    </div>
  </div>
</section>
