<footer>
    <div class="footer__inner container">
        <div class="footer__block">
            <div class="footer__address">
                <h3 class="footer-subtitle">Address</h3>
                <p>Pipang Ltd, Griva Digeni,
                    81-83 Jacovides Tower, 1st Floor
                    1090 Picosia USA</p>
            </div>
            <div class="footer__services">
                <h3 class="footer-subtitle">Services</h3>
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="footer__contacts">
                <h3 class="footer-subtitle">Get in Touch</h3>
                <ul>
                    <li><a href="mailto:info@cloudbudget.com">info@cloudbudget.com</a></li>
                    <li><a href="tel:+18447217120">+1 844-721-7120</a></li>
                    <div class="footer__icons">
                        <a href="#"><img src="images/meta.svg" alt=""></a>
                        <a href="#"><img src="images/linkedin.svg" alt=""> </a>
                        <a href="#"><img src="images/twitter.svg" alt=""></a>
                    </div>
                </ul>
            </div>
            <div class="footer__support">
                <h3 class="footer-subtitle">We Support</h3>
                <picture>
                    <source srcset="images/bank_secure.avif" type="image/avif">
                    <source srcset="images/bank_secure.webp" type="image/webp">
                    <img src="images/bank_secure.png" alt="">
                </picture>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright 2018 CloudBudget</p>
            <p>Made by Snowfox-95 in 2023</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="js/main.min.js"></script>

</body>

</html>