<section class="technology container">
  <h2 class="subtitle">Technology</h2>
  <div class="technology__inner">
    <div class="technology-block">
      <picture>
        <img src="images/cloud.svg" alt="cloud storage" />
      </picture>
      <h3>Cloud Storage</h3>
      <p>Access your account from anywhere in the world on any device</p>
    </div>
    <div class="technology-block">
        <picture>
          <img src="images/secure.svg" alt="Secure" />
        </picture>
        <h3>Secure</h3>
        <p>All your information is stored on secure cloud servers</p>
      </div>
      <div class="technology-block">
        <picture>
          <img src="images/pdf.svg" alt="pdf download" />
        </picture>
        <h3>PDF Download</h3>
        <p>Download any of your reports in PDF format</p>
      </div>
      <div class="technology-block">
        <picture>
          <img src="images/csv.svg" alt="csv download" />
        </picture>
        <h3>CSV Download</h3>
        <p>All your information is stored on secure cloud servers</p>
      </div>
  </div>
</section>
