<section class="possibilities container">
  <div class="possibilities__info">
    <h2>
      Easy to Use Cloud Budget<br />
      Management Software
    </h2>
    <p>
      Our software is made so you can access and manage your budget and expenses
      online at any time from any device. It provides detailed income and
      expense reports with graphs so you can easilly see your spending patterns
      and budget at a glance. Read below to find out more.
    </p>
    <a class="link" href="#">Learn More</a>
  </div>
  <div class="possibilities__video">
    <picture>
      <source srcset="images/possibilities-img.avif" type="image/avif">
      <source srcset="images/possibilities-img.webp" type="image/webp">
      <img src="images/possibilities-img.png" alt="staff" />
    </picture>
  </div>
</section>
